@using System.Web.Optimization
@model EPiServer.Marketing.Testing.TestPages.Models.TestPagesCreateTestViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveABTestData</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")

</head>
<body>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript">


    function GetVersions(originalItem) {
        var url = "/ApiTesting/GetPageVersions/";
        $.ajax({
            url: url,
            data: { originalItem: originalItem },
            cache: false,
            type: "POST",
            success: function(returnedData) {
                $("#Variants_0_ItemVersion").empty();
                $("#Variants_1_ItemVersion").empty();

                $.each(returnedData, function (i, val) {
                    if (typeof val.Status == 'undefined' && typeof val != 'boolean') {
                        alert("Error: " + val);
                    }
                    if (val.Status == 4) { // 4 = VersionStatus.Published
                        var version = val.Reference.substring(0, val.Reference.indexOf('_'));
                        $("#Variants_0_ItemVersion").append("<option value='" + version + "'>" + val.Name + "[" + val.Reference + "]</option>");
                    } else {
                        $("#Variants_1_ItemVersion").append("<option value='" + val.Version + "'>" + val.Name + "[" + val.Reference + "]</option>");
                    }


                });
                $('#Variants_0_ItemId').val($('#originalItem').val());
                $('#Variants_1_ItemId').val($('#originalItem').val());

            },
            error: function(response) {
                alert("error: " + response);
            }
        });
    }


    </script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>IMultivariateTest</legend>

            <div class="editor-label">
                Test Title
                <span style="color:red">*</span>

            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Test.Title)
                @Html.ValidationMessageFor(model => model.Test.Title)
            </div>
            <div class="editor-label">
                Test Description
                <span style="color:red">*</span>

            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Test.Description)
                @Html.ValidationMessageFor(model => model.Test.Description)
            </div>

            <div class="editor-label">
                Test Owner
                <span style="color:red">*</span>

            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Test.Owner)
                @Html.ValidationMessageFor(model => model.Test.Owner)
            </div>

            <div class="editor-label">
                Conversion Page
                <span style="color:red">*</span>

            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ContentGuid)
                @Html.ValidationMessageFor(model => model.ContentGuid)
            </div>

            <div class="editor-label">
                Start Date
                <span style="color:red">*</span>

            </div>
            <div class="editor-field">
                <input type="date" name="Test.StartDate" value="@Model.Test.StartDate" />
                @Html.ValidationMessageFor(model => model.Test.StartDate)
            </div>

            <div class="editor-label">
                End Date
                <span style="color:red">*</span>

            </div>
            <div class="editor-field">
                <input type="date" name="Test.EndDate" value="@Model.Test.EndDate" />
                @Html.ValidationMessageFor(model => model.Test.EndDate)
            </div>

            <div class="editor-label">

                Orginal Item Id (Guid)
                <span style="color:red">*</span>

            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Test.OriginalItemId, new { @id = "originalItem", @onchange = "javascript:GetVersions(this.value);" })
            </div>

            <div>
                <div class="editor-field" style="float: left">
                    <div class="editor-label">
                        Version A:
                        <span style="color:red">*</span>
                    </div>
                    <select id="Variants_0_ItemVersion" name="Test.Variants[0].ItemVersion">
                        <option>No Available Versions</option>
                    </select>
                    <input type="hidden" id="Variants_0_ItemId" name="Test.Variants[0].ItemId" />
                    <input type="hidden" id="Variants_0_Id" name="Test.Variants[0].Id" value="@Guid.NewGuid()" />
                </div>
                <div class="editor-field">
                    <div class="editor-label">
                        Version B
                        <span style="color:red">*</span>
                    </div>
                    <select id="Variants_1_ItemVersion" name="Test.Variants[1].ItemVersion">
                        <option>No Available Versions</option>
                    </select>
                    <input type="hidden" id="Variants_1_ItemId" name="Test.Variants[1].ItemId" />
                    <input type="hidden" id="Variants_1_Id" name="Test.Variants[1].Id" value="@Guid.NewGuid()" />
                </div>
            </div>


            <p>
                @if (Model.Test.Id == Guid.Empty)
                {
                    <input type="submit" value="Create" />
                }
                else
                {
                    <input type="submit" value="Update" />
                }

            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>
</html>
