@model EPiServer.Marketing.Testing.Data.ABTest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestDetails</title>
</head>
<body>
    <fieldset>
        <legend>ABTest</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.State) : @Html.DisplayFor(model => model.State)
        </div>


        <div class="display-label">
            @Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(model => model.Title)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Owner) : @Html.DisplayFor(model => model.Owner)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.StartDate) : @Html.DisplayFor(model => model.StartDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.EndDate) : @Html.DisplayFor(model => model.EndDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.OriginalItemId) : @Html.DisplayFor(model => model.OriginalItemId)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Variants[0].Id) : @Html.DisplayFor(model => model.Variants[0].Id)
        </div>

        <hr />
        @if (Model.Variants != null)
        {
            foreach (var variant in Model.Variants)
            {
                <div class="display-label">
                    @Html.DisplayNameFor(resultItem => variant.Views) : @Html.DisplayFor(resultItem => variant.Views)
                </div>
                <div class="display-label">
                    @Html.DisplayNameFor(resultItem => variant.ItemId) : @Html.DisplayFor(resultItem => variant.ItemId)
                </div>                
                <div class="display-label">
                    @Html.DisplayNameFor(resultItem => variant.ItemVersion) : @Html.DisplayFor(resultItem => variant.ItemVersion)
                </div>
                <br />
            }
        }
    </fieldset>
    <p>
        @Html.ActionLink("Start Test", "RunAbTests", new { id = Model.Id }) |
        @Html.ActionLink("Archive", "ArchiveAbTest", new { id = Model.Id }) |
        @Html.ActionLink("Edit", "UpdateAbTest", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
