@model EPiServer.Marketing.Testing.Data.ABTest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestDetails</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        var updateBoth = function (testId, variantId, itemVersion) {
		for (i = 0; i < 100; i++) {
		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateview',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, variantId: variantId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });

		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateconversion/',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, variantId: variantId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });

		}
        };

        var updateView = function (testId, variantId, itemVersion) {
		for (i = 0; i < 100; i++) {
		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateview',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, variantId: variantId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });
		}
        };

        var updateConversion = function (testId, variantId, itemVersion) {
		for (i = 0; i < 100; i++) {
		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateconversion/',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, variantId: variantId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });
		}
        };
    </script>
</head>
<body>
    <fieldset>
        <legend>MultivariateTest</legend>
        <div class="display-label">
            @Html.DisplayFor(model => model.Id)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.State) : @Html.DisplayFor(model => model.State)
        </div>


        <div class="display-label">
            @Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(model => model.Title)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Owner) : @Html.DisplayFor(model => model.Owner)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.StartDate) : @Html.DisplayFor(model => model.StartDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.EndDate) : @Html.DisplayFor(model => model.EndDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.OriginalItemId) : @Html.DisplayFor(model => model.OriginalItemId)
        </div>



        <hr />
        @if (Model.Variants != null)
        {
            <table style="width:50%">
                @foreach (var result in Model.Variants)
                {
                    <tr>
                        <td> @Html.DisplayNameFor(resultItem => result.ItemId)</td>
                        <td> @Html.DisplayFor(resultItem => result.ItemId)</td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(resultItem => result.ItemVersion)</td>
                        <td> @Html.DisplayFor(resultItem => result.ItemVersion) </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(resultItem => result.Views)</td>
                        <td>@Html.DisplayFor(resultItem => result.Views)</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnUpdateViews" id="btnUpdateViews" value="REST Update View (+100)" title="UpdateView" onclick="updateView('@Model.Id','@result.ItemId','@result.ItemVersion');" /></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(resultItem => result.Conversions)</td>
                        <td>@Html.DisplayFor(resultItem => result.Conversions)</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnUpdateConversions" id="btnUpdateConversions" value="REST Update Conversion (+100)" title="UpdateConversion" onclick="updateConversion('@Model.Id', '@result.ItemId','@result.ItemVersion');" /></td>
                        <td>&nbsp;</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnUpdateBoth" id="btnUpdateBoth" value="REST Update Views And Conversion (+100)" title="UpdateBoth" onclick="updateBoth('@Model.Id', '@result.ItemId','@result.ItemVersion' );" /></td>
                    </tr>
                    <tr><td>&nbsp;</td></tr> }
            </table>
        }
    </fieldset>
    <p>
        <div>
            <fieldset>
                <legend>Test Functions</legend>
                <div>
                    <em>
                        The <strong>Start & Stop Test</strong> and <strong>"Start"</strong>functions are hard coded to run a specified<br />
                        number of simulated views. Each view has a 5% chance of being a conversion. The values can currently only be modified<br />
                        in the ApiTestingRespository methods.
                    </em>
                    <br />
                    <br />
                </div>
                <div>
                    @Html.ActionLink("Start & Stop Test", "RunAbTests", new { id = Model.Id }) &nbsp;&nbsp;<em>Runs a simulated test, randomly returning variants and updating the views & conversions (By default it will simulate 50 tests). </em>
                </div>
                <div>
                    @Html.ActionLink("Start", "StartTest", new { id = Model.Id }) |
                    @Html.ActionLink("Stop", "StopTest", new { id = Model.Id })
                    &nbsp;&nbsp;<em>Toggles the state of the test between active and done. Start will simulate, by default, 5 views.</em>
                </div>
                <div>
                    @Html.ActionLink("Archive", "ArchiveAbTest", new { id = Model.Id }) &nbsp;&nbsp;<em>Sets the current test state to "Archived"</em>
                </div>
                <div>
                    @Html.ActionLink("Edit", "UpdateAbTest", new { id = Model.Id }) &nbsp;&nbsp;<em>Brings up the edit form for the current state</em>
                </div>
                <div></div>
            </fieldset>

        </div>
        <br />
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>