@using Microsoft.Ajax.Utilities
@model EPiServer.Marketing.Testing.Data.ABTest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestDetails</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        var updateBoth = function (testId, itemVersion) {
		for (i = 0; i < 100; i++) {
		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateview',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });

		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateconversion/',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });

		}
        };

        var updateView = function (testId, itemVersion) {
		for (i = 0; i < 100; i++) {
		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateview',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });
		}
        };

		var updateViewCustom = function (testId, itemVersion) {
		var value = document.getElementById("viewconversion").value;
		for (i = 0; i < value; i++) {
		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateview',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });
		}
        };

        var updateConversion = function (testId, itemVersion) {
		for (i = 0; i < 100; i++) {
		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateconversion/',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });
		}
        };

		var updateConversionCustom = function (testId, itemVersion) {
		var value = document.getElementById("viewconversion").value;
		for (i = 0; i < value; i++) {
		    $.ajax({
			type: 'POST',
			url: '/api/episerver/testing/updateconversion/',
			cache: false,
			contentType: 'application/x-www-form-urlencoded',
			data: { testId: testId, itemVersion: itemVersion }
		    }).done(function (data) {
		    }).fail(function () {
		    }).always(function () {
			setTimeout(function(){ window.location.reload(); }, 2000);
		    });
		}
		};

		var saveKpiResult = function (testId, itemVersion, keyResultType) {
		    var count = document.getElementById("kpiresults").value;
		    for (var i = 0; i < count; i++) {
		        $.ajax({
		            type: 'POST',
		            url: '/api/episerver/testing/savekpiresult/',
		            cache: false,
		            contentType: 'application/x-www-form-urlencoded',
		            data: { testId: testId, itemVersion: itemVersion, keyResultType: keyResultType, total: 5 + i, kpiId: '5E9123E8-1A41-4CF7-8237-1D5B16E56F75' }
		        }).done(function (data) {
		        }).fail(function () {
		        }).always(function () {
		            setTimeout(function () { window.location.reload(); }, 2000);
		        });
		    }
		};
    </script>
</head>
<body>
    <fieldset>
        <legend>MultivariateTest</legend>
        <div class="display-label">
            @Html.DisplayFor(model => model.Id)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.State) : @Html.DisplayFor(model => model.State)
        </div>


        <div class="display-label">
            @Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(model => model.Title)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Owner) : @Html.DisplayFor(model => model.Owner)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.StartDate) : @Html.DisplayFor(model => model.StartDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.EndDate) : @Html.DisplayFor(model => model.EndDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.OriginalItemId) : @Html.DisplayFor(model => model.OriginalItemId)
        </div>



        <hr />
        @if (Model.Variants != null)
        {
            <table style="width: 70%">
                @foreach (var variant in Model.Variants)
                {
                    <tr>
                        <td> @Html.DisplayNameFor(resultItem => variant.ItemId)</td>
                        <td> @Html.DisplayFor(resultItem => variant.ItemId)</td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(resultItem => variant.ItemVersion)</td>
                        <td> @Html.DisplayFor(resultItem => variant.ItemVersion) </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(resultItem => variant.Views)</td>
                        <td>@Html.DisplayFor(resultItem => variant.Views)</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnUpdateViews" id="btnUpdateViews" value="REST Update View (+100)" title="UpdateView" onclick="updateView('@Model.Id', '@variant.ItemVersion');"/></td>
                        <td>&nbsp;</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnUpdateViewsCustom" id="btnUpdateViewsCustom" value="REST Update View (Custom)" title="UpdateViewCustom" onclick="updateViewCustom('@Model.Id', '@variant.ItemVersion');"/></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(resultItem => variant.Conversions)</td>
                        <td>@Html.DisplayFor(resultItem => variant.Conversions)</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnUpdateConversions" id="btnUpdateConversions" value="REST Update Conversion (+100)" title="UpdateConversion" onclick="updateConversion('@Model.Id', '@variant.ItemVersion');"/></td>
                        <td>&nbsp;</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnUpdateBoth" id="btnUpdateBoth" value="REST Update Views And Conversion (+100)" title="UpdateBoth" onclick="updateBoth('@Model.Id', '@variant.ItemVersion');"/></td>
                        <td>&nbsp;</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnUpdateConversionsCustom" id="btnUpdateConversionsCustom" value="REST Update Conversion (Custom)" title="UpdateConversionCustom" onclick="updateConversionCustom('@Model.Id', '@variant.ItemVersion');"/></td>
                    </tr>
                    <tr>
                        <td>Financial Result Count:</td>
                        <td>@{ int a = variant.KeyFinancialResults != null ? variant.KeyFinancialResults.Count : 0; } @Html.DisplayFor(resultItem => a)</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnSaveKpiFinancialResults" id="btnSaveKpiFinancialResults" value="REST Save KPI Result (Financial)" title="SaveKpiResult" onclick="saveKpiResult('@Model.Id', '@variant.ItemVersion', 0);"/></td>
                    </tr>
                    <tr>
                        <td>Value Result Count:</td>
                        <td>@{ int b = variant.KeyValueResults != null ? variant.KeyValueResults.Count : 0; } @Html.DisplayFor(resultItem => b)</td>
                        <td><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" type="button" name="btnSaveKpiValueResults" id="btnSaveKpiValueResults" value="REST Save KPI Result (Value)" title="SaveKpiResult" onclick="saveKpiResult('@Model.Id', '@variant.ItemVersion', 1);"/></td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                }
            </table>
        }
    </fieldset>
    <p>
        <div>
            <fieldset>
                <legend>Test Functions</legend>
                <div>
                    <em>
                        The <strong>Start & Stop Test</strong> and <strong>"Start"</strong>functions are hard coded to run a specified<br />
                        number of simulated views. Each view has a 5% chance of being a conversion. The values can currently only be modified<br />
                        in the ApiTestingRespository methods.
                    </em>
                    <br />
                    <br />
                </div>
                <div>
                    @Html.ActionLink("Start & Stop Test", "RunAbTests", new { id = Model.Id }) &nbsp;&nbsp;<em>Runs a simulated test, randomly returning variants and updating the views & conversions (By default it will simulate 50 tests). </em>
                </div>
                <div>
                    @Html.ActionLink("Start", "StartTest", new { id = Model.Id }) |
                    @Html.ActionLink("Stop", "StopTest", new { id = Model.Id })
                    &nbsp;&nbsp;<em>Toggles the state of the test between active and done. Start will simulate, by default, 5 views.</em>
                </div>
                <div>
                    @Html.ActionLink("Archive", "ArchiveAbTest", new { id = Model.Id }) &nbsp;&nbsp;<em>Sets the current test state to "Archived"</em>
                </div>
                <div>
                    @Html.ActionLink("Edit", "UpdateAbTest", new { id = Model.Id }) &nbsp;&nbsp;<em>Brings up the edit form for the current state</em>
                </div>
                <div>
                    Custom increment  <input id="viewconversion" type="text" /> &nbsp;&nbsp;<em>Enter the number you would like to increment a view or conversion total by, then click the 'Rest Update...(Custom)' button beside the Variant view or conversion to be incremented.</em>
                </div>
                <div>
                    Custom increment (kpi) <input id="kpiresults" type="text" /> &nbsp;&nbsp;<em>Enter the number of kpi results to save, then click the 'Rest Update KPI Results' button beside the Variant you want to save them to.</em>
                </div>

            </fieldset>

        </div>
        <br />
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>