
@using System.Web.Optimization

@model EPiServer.Marketing.Testing.TestPages.Models.CacheTestingViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
</head>
<body class="Sleek">
    <div class="container">
        <fieldset>
            <legend>
                <h2>Cached Variant Page Data</h2>
            </legend>

            <table class="table">
                <tr>
                    <th>Key</th>
                    <th>Content Id</th>
                    <th>Content Version</th>
                    <th>Actions</th>
                </tr>
                @foreach (var item in Model.CachedVersionPageData)
            {
                    <tr>
                        <td> @item.ContentGuid</td>
                        <td> @item.ContentLink.ID </td>
                        <td> @item.ContentLink.WorkID</td>
                        <td> @Html.ActionLink("Delete", "DeleteCacheEntry", new { id = @item.ContentGuid })</td>


                    </tr>
                }
            </table>
        </fieldset>
    </div>
    <div class="container">
        <fieldset>
            <legend>
                <h2>Cached Active Test Data</h2>

            </legend>

            <table class="table">
                <tr>
                    <th>Test Id</th>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>Original Item Id</th>
                    <th>End Date</th>
                </tr>
                @foreach (var item in Model.ActiveTestCache)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.StartDate</td>
                        <td>@item.OriginalItemId</td>
                        <td>@item.EndDate</td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>
    <h3>    @Html.ActionLink("Back to List", "Index")</h3>

    <div>
    </div>
</body>
</html>
