@model IEnumerable<EPiServer.Marketing.Multivariate.IMultivariateTest>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAbTestList</title>
</head>
<body>
    
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VariantItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversionItemId)
            </th>
            <th>
                Results
            </th>
            
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConversionItemId)
            </td>
            <td>
            @foreach (var result in item.Results)
            {
                <br/>
                @:Views: @Html.DisplayFor(resultItem => result.Views)
                <br/>
                @:Conversions: @Html.DisplayFor(resultItem => result.Conversions)
                
            }
            </td>
            

        </tr>
    }
    
    </table>
</body>
</html>
