@using System.Web.Optimization
@model IEnumerable<EPiServer.Marketing.Multivariate.IMultivariateTest>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")

</head>
<body class="Sleek" >
<p>
    
</p>
<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VariantItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversionItemId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VariantItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConversionItemId)
                </td>
                @if (item.Results != null)
                {
                    foreach (var result in item.Results)
                    {
                        <td>
                            Views: 
                            @Html.DisplayFor(resultItem => result.Views)
                            <br/>
                            Item Id:
                            @Html.DisplayFor(resultItem => result.ItemId)
                            <br/>
                            Conversions:
                            @Html.DisplayFor(resultItem => result.Conversions)
                        </td>
                    }
                }

                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "GetAbTestById", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "DeleteAbTest", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <p>
      <span class="btn">@Html.ActionLink("Create New", "SaveABTestData")</span>
    </p>
</div>
</body>
</html>
