@model EPiServer.Marketing.Testing.Data.ABTest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveABTestData</title>
</head>
<body>
    <script src="~/wwwroot/js/jquery.validate.min.js"></script>
    <script src="~/wwwroot/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript">


    function GetVersions(originalItem) {
        var url = "/ApiTesting/GetPageVersions/";
        $.ajax({
            url: url,
            data: { originalItem: originalItem },
            cache: false,
            type: "POST",
            success: function(returnedData) {
                $("#Variants_0_ItemVersion").empty();
                $("#Variants_1_ItemVersion").empty();

                $.each(returnedData, function(i, val) {
                    $("#Variants_0_ItemVersion").append("<option value='" + val.Version + "'>" + val.Name + "[" + val.Reference + "]</option>");
                    $("#Variants_1_ItemVersion").append("<option value='" + val.Version + "'>" + val.Name + "[" + val.Reference + "]</option>");

                });
                $('#Variants_0_ItemId').val($('#originalItem').val());
                $('#Variants_1_ItemId').val($('#originalItem').val());

            },
            error: function(response) {
                alert("error: " + response);
            }
        });
    }


    </script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>IMultivariateTest</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Owner)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Owner)
                @Html.ValidationMessageFor(model => model.Owner)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.StartDate)
            </div>
            <div class="editor-field">
                <input type="date" name="StartDate" value="@Model.StartDate" />
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EndDate)
            </div>
            <div class="editor-field">
                <input type="date" name="EndDate" value="@Model.EndDate" />
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OriginalItemId)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OriginalItemId, new { @id = "originalItem", @onchange = "javascript:GetVersions(this.value);" })
            </div>

            <div>
                <div class="editor-field" style="float: left">
                    <div class="editor-label">
                        Version A:
                    </div>
                    <select id="Variants_0_ItemVersion" name="Variants[0].ItemVersion">
                        <option>No Available Versions</option>
                    </select>
                    <input type="hidden" id="Variants_0_ItemId" name="Variants[0].ItemId" />
                    <input type="hidden" id="Variants_0_Id" name="Variants[0].Id" value="@Guid.NewGuid()" />
                </div>
                <div class="editor-field">
                    <div class="editor-label">
                        Version B
                    </div>
                    <select id="Variants_1_ItemVersion" name="Variants[1].ItemVersion">
                        <option>No Available Versions</option>
                    </select>
                    <input type="hidden" id="Variants_1_ItemId" name="Variants[1].ItemId" />
                    <input type="hidden" id="Variants_1_Id" name="Variants[1].Id" value="@Guid.NewGuid()" />
                </div>
            </div>


            <p>
                @if (Model.Id == Guid.Empty)
                {
                    <input type="submit" value="Create" />
                }
                else
                {
                    <input type="submit" value="Update" />
                }

            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>

