@model EPiServer.Marketing.Multivariate.MultivariateTest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveABTestData</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>IMultivariateTest</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Owner)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Owner)
                @Html.ValidationMessageFor(model => model.Owner)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.StartDate)
            </div>
            <div class="editor-field">
                <input type="date" name="StartDate" value="@Model.StartDate" />
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EndDate)
            </div>
            <div class="editor-field">
                <input type="date" name="EndDate" value="@Model.EndDate" />
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OriginalItemId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OriginalItemId)
                @Html.ValidationMessageFor(model => model.OriginalItemId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.VariantItems[0])
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.VariantItems[0])
                @Html.ValidationMessageFor(model => model.VariantItems[0])
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Conversions[0])
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Conversions[0])
                @Html.ValidationMessageFor(model => model.Conversions[0])
            </div>

            <p>
                @if (Model.Id == Guid.Empty)
                {
                    <input type="submit" value="Create" />
                }
                else
                {
                    <input type="submit" value="Update" />
                }

            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>

