@model EPiServer.Marketing.Multivariate.Model.MultivariateTest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestDetails</title>
</head>
<body>
    <fieldset>
        <legend>MultivariateTest</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.State) : @Html.DisplayFor(model => model.State)
        </div>


        <div class="display-label">
            @Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(model => model.Title)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Owner) : @Html.DisplayFor(model => model.Owner)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.StartDate) : @Html.DisplayFor(model => model.StartDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.EndDate) : @Html.DisplayFor(model => model.EndDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.OriginalItemId) : @Html.DisplayFor(model => model.OriginalItemId)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.VariantItems) : @Html.DisplayFor(model => model.VariantItems)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Conversions) : @Html.DisplayFor(model => model.Conversions)
        </div>
        <hr />
        @if (Model.Results != null)
        {
            foreach (var result in Model.Results)
            {
                <div class="display-label">
                    @Html.DisplayNameFor(resultItem => result.Views) : @Html.DisplayFor(resultItem => result.Views)
                </div>
                <div class="display-label">
                    @Html.DisplayNameFor(resultItem => result.ItemId) : @Html.DisplayFor(resultItem => result.ItemId)
                </div>
                <div class="display-label">
                    @Html.DisplayNameFor(resultItem => result.Conversions) : @Html.DisplayFor(resultItem => result.Conversions)
                </div>
                <br />
            }
        }
    </fieldset>
    <p>
        @Html.ActionLink("Start Test", "RunAbTests", new { id = Model.Id }) |
        @Html.ActionLink("Archive", "ArchiveAbTest", new { id = Model.Id }) |
        @Html.ActionLink("Edit", "UpdateAbTest", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
